

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.box-design {
   display: inline-block;
   background-color: #f0ad4e;
   border: 1px solid #000;
   border-radius: 6px;
   box-shadow: 1px 2px 5px #286090;
   padding: 1px 10px;
}


#footer, .adjust{
margin-left:10px
}

.kv {
   color: green;
}
.num {
   color: #105cb6;
}

.match {
   color: #9d11b6;
}

.btn-success {
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C;
}

#js {
    background: #9b59b6;
    border-color: #9b59b6;
}

#py {
    background: #1abc9c;
    border-color: #1abc9c;
}
.repeat {
height: 218px;
overflow-y: scroll;
}

#code_py {
    background: #eeffcc;
    margin-top:0; padding-top:0;
}

#code pre{
    font-family: monospace, sans-serif;
    font-size: 96.5%;
    display: block;
    padding: 0.5px;
    margin: 10px 0px 3px;
    line-height: 1.42857143;
    color: #249C18;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #d9edf7;
    border: 1px solid #d9edf7;
    border-radius: 2px;
}

#code span {
  display: inline-block;
}