

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.box-design {
   display: inline-block;
   background-color: #f0ad4e;
   border: 1px solid #000;
   border-radius: 6px;
   box-shadow: 1px 2px 5px #286090;
   padding: 1px 10px;
}


#footer, .adjust{
margin-left:10px
}

.kv {
   color: green;
}
.num {
   color: #105cb6;
}

.match {
   color: #9d11b6;
}

.btn-success {
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C;
}

#js {
    background: #9b59b6;
    border-color: #9b59b6;
}

#py {
    background: #1abc9c;
    border-color: #1abc9c;
}
.repeat {
height: 218px;
overflow-y: scroll;
}
