{% extends 'base.html' %}

{% block title %}Regex Tester{% endblock %}

{% block description %}This page is an awesome home page.{% endblock %}


{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    {% verbatim %}
    <div class="container" ng-controller="MainCtrl">

        <div class="btn-group btn-toggle" data-toggle="buttons-checkbox">
                <button type="button" class="btn btn-primary active" id="js" ng-click="langu='Javascript';do_parsing.data()" data-toggle="button">Javascript
                </button>
            <button type="button" class="btn btn-default" id="py" data-toggle="button" ng-click="langu='Python';do_parsing.data()">Python
                </button>

            </div>
        <h2>Live Regex</h2>


        <div class="row">
            <div class="col-lg-6">
                <input type="text" name="regex" id="regex" class="form-control" placeholder="Regex"
                       ng-model="input_regex"
                       ng-model-options="{ getterSetter: true }">

            </div>
            <div class="col-lg-2">
                <input type="text" name="modifier" id="mod" class="form-control" placeholder="modifier"
                       ng-model="modifier"
                       ng-model-options="{ getterSetter: true }">
            </div>


        </div>
        <hr>
        <div class="row">
        <div class="form-group col-xs-6">
                <textarea class="form-control" id="data" rows="10" style="width: 555px; height: 214px"
                          placeholder="Insert your test string here"
                          ng-model="input_data"
                          ng-model-options="{ getterSetter: true }"></textarea>

            <div class="btn-group">
                <button type="button" class="btn btn-success" id="linkbtn">Save
                </button>

            </div>

        </div>
        <div class="form-group col-xs-6" id="repeat" ng-show="langu=='Javascript'">
            <div ng-repeat="(key, value) in do_parsing.data()">
                <div>
                    <div class="match">Match {{ $index+1 }}</div>
                    <div class="kv col-lg-2">index:
                        <pre class="num">{{ key }}</pre>
                    </div><span class="kv">value: <pre
                        class="num">{{ value }}</pre></span>
                </div>
            </div>
            {% endverbatim %}
        </div>
        <div id="repeatPython" ng-show="langu=='Python'">
            
        </div>
        </div>
    </div>

    <hr>
</div>
{% endblock %}